[submodule "buckal-bundles"]
	path = buckal-bundles
	url = git@github.com:yueneiqi/buckal-bundles.git
[submodule "cargo-buckal"]
	path = cargo-buckal
	url = git@github.com:yueneiqi/cargo-buckal.git
[submodule "test/3rd/fd"]
	path = test/3rd/fd
	url = git@github.com:yueneiqi/fd-test.git
	branch = base
[submodule "buck2"]
	path = buck2
	url = https://github.com/facebook/buck2.git
[submodule "test/rust_test_workspace"]
	path = test/rust_test_workspace
	url = git@github.com:yueneiqi/rust_test_workspace.git
[submodule "test/first-party-demo"]
	path = test/first-party-demo
	url = git@github.com:yueneiqi/first-party-demo.git
