[submodule "buckal-bundles"]
	path = buckal-bundles
	url = git@github.com:yueneiqi/buckal-bundles.git
[submodule "cargo-buckal"]
	path = cargo-buckal
	url = git@github.com:yueneiqi/cargo-buckal.git
[submodule "test/3rd/fd"]
	path = test/3rd/fd
	url = git@github.com:yueneiqi/fd-test.git
